<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--加载属性文件-->
    <context:property-placeholder location="classpath:resource/resource.properties" />

    <!--配置注解驱动-->
    <mvc:annotation-driven/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置包扫描器，扫描@Controller注解的类-->
    <context:component-scan base-package="com.cdx.controller"/>
    <!--配置资源映射-->
    <mvc:resources mapping="/css/**" location="/css/ "/>
    <mvc:resources mapping="/js/**" location="/js/" />
    <!--配置多媒体解析器,实现图片上传功能-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设定默认编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--设定文件上传的最大值为5M-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

    <!--引用Dubbo服务-->

    <!--提供方应用信息，用于计算依赖-->
    <dubbo:application name="webMall-manager-web"/>

    <!--注册中心的地址-->
    <dubbo:registry protocol="zookeeper" address="123.206.76.76:2181"/>

    <!--Dubbo引用服务-->
    <!--引用商品服务-->
    <dubbo:reference interface="com.cdx.service.ItemService" id="itemService"/>
    <!--引用商品分类服务-->
    <dubbo:reference interface="com.cdx.service.ItemCatService" id="itemCatService"/>
</beans>